
$primary: #232424;
$secondary: $white;
$danger: #FF3D00;
$warning: #FFEE00;
$info: $blue;
$success: #E1559E;
$dark: #232424;
$yiq-text-dark: #232424;
$yiq-text-light: #F6F6F6;
$body-bg: $primary;
$body-color: #F6F6F6;
$font-family-sans-serif: gopher, sans-serif;
$headings-font-family: roc-grotesk-wide, sans-serif;;