
$primary: rgb(35, 35, 36);
$secondary: $white;
$danger: rgb(241, 47, 23);
$warning: rgb(247, 169, 16);
$info: rgb(83, 195, 238);
$success: rgb(140, 225, 85);
$dark: #232424;
$yiq-text-dark: #232424;
$yiq-text-light: #F6F6F6;
$body-color: rgb(246, 246, 246);
$font-family-sans-serif: gopher, sans-serif;
$headings-font-family: roc-grotesk-wide, sans-serif;;
$font-weight-bold: 500;
$body-bg: $primary;
$link-color: theme-color("secondary");
$link-hover-color: lightenen($link-color, 15%);
$nav-link-padding-x: 2rem;
$nav-link-padding-y: 0.6rem;
$nav-tabs-link-active-bg: rgb(246, 246, 246);
$navbar-nav-link-padding-x: 1.2rem;
$table-hover-color: rgb(35, 35, 36);