body {
    margin: 0;
    font-family: roc-grotesk-wide, sans-serif;
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    background: #232324;
    color: var(--color-primary);
}


/*
div {
    border: 1px solid red;
}
*/

header {
    background-color: #232324;
    padding: 2em;
    text-align: center;
}

.modal {
    background: rgba(251, 234, 246, 0.84);
}

.modal-dialog {
    max-width: absolute;
}

nav {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.nav-item {
    margin-left: 2rem;
}

.row {
    height: 90vh;
    position: absolute;
}

.align-items-center {
    position: relative;
    align-items: center!important;
}

.gallery {
    position: absolute;
    overflow-x: scroll;
}

.scroll {
    width: max-content;
    padding-left: 24px;
    ;
}

.logo-text {
    font-size: 48px;
}

.frontpage-menu {
    height: 100vh;
}

.hero-gradient {
    background: rgb(35, 35, 36);
    background: linear-gradient(180deg, rgba(35, 35, 36, 1) 33%, rgba(134, 134, 134, 1) 65%, rgba(231, 231, 232, 1) 100%);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
    position: relative;
}

.text-color {
    color: #E5C3DB;
}